<nav class="navbar navbar-light" style="background-color:darkblue;display: flex;flex-wrap: wrap;">

    <!-- logo -->
    <div class="navbar-brand" >
      <a class="navbar-item">
       <a href="https://www.fluidra.com/" target="_blank"> <img src="assets/img/logo1.png" alt="Fluidra" style="float:left;padding-top:20px;padding-left: 10px;" heigth=200 width=200 ></a>
      </a>
    </div>
    <div>
      <ul class="nav justify-content-end ">
        <li class="nav-item">
          <a class="nav-link " href="https://www.fluidra.com/about-fluidra" style="color:white;font-family:Arial, Helvetica, sans-serif;font-weight: 300;" target="_blank">About Fluidra</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.fluidra.com/brands" style="color: white;font-family:Arial, Helvetica, sans-serif;font-weight: 300;" target="_blank" >Brands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.fluidra.com/projects" style="color: white;font-family:Arial, Helvetica, sans-serif;font-weight: 300;" target="_blank" >Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="https://www.fluidra.com/shareholders" style="color: white;font-family:Arial, Helvetica, sans-serif;font-weight: 300;" target="_blank" >Shareholders and Investors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="https://www.fluidra.com/press-releases" style="color: white;font-family:Arial, Helvetica, sans-serif;font-weight: 300;" target="_blank" >Press</a>
          </li>
      </ul>
    </div> 
 </nav><br> <br>
 <h1 style="font-family:Arial, Helvetica, sans-serif;font-size:2em;text-align: center;color: darkblue;"><b>Generate InviteCode Tool</b></h1>
<router-outlet></router-outlet>

<div class="footer">
    <div>
      <ul class="nav justify-content-start ">
        <li class="nav-item">
          <a class=" nav-link" style="font-family: Arial, Helvetica, sans-serif;font-weight: 100;">&copy; Fluidra S.A 2020</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link " href="https://www.fluidra.com/privacy-policy" style="color:white;font-family:Arial, Helvetica, sans-serif;font-weight: 200;" target="_blank">Privacy Policy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.fluidra.com/legal-notice" style="color: white;font-family:Arial, Helvetica, sans-serif;font-weight: 200;" target="_blank" >Legal Notice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.fluidra.com/cookies-policy" style="color: white;font-family:Arial, Helvetica, sans-serif;font-weight: 200;" target="_blank" >Cookie Policy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="https://www.fluidra.com/webmap" style="color: white;font-family:Arial, Helvetica, sans-serif;font-weight: 200;" target="_blank" >Web map</a>
        </li>  
        <li class="nav-item">
          <p class="nav-link">Social</p>
         </li>   
         <li class="nav-item">
           <a href="https://twitter.com/fluidra" class="fa fa-twitter" style="float:right" target="_blank"></a>
          
         </li>
         <li class="nav-item">
           <a href="https://www.youtube.com/user/FluidraGroup" class="fa fa-youtube" target="_blank"></a>
        
         </li>
         <li class="nav-item">
           <a href="https://www.linkedin.com/company/fluidra/" class="fa fa-linkedin" target="_blank"></a>
         </li>     
      </ul>
    </div> 
</div>
