
a.nav-link:link {text-decoration: none;position: relative;}
a.nav-link:hover {text-decoration: underline;
  text-underline-position: under;
}



.footer {
  position: fixed;
  size: inherit;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkblue;
  color: white;
  text-align: left;
}