  
<header class="header">
     <h1></h1>
     <h2></h2>
      <div class="button-section"> 
          <button type="button" class="btn btn-info">
           Generate Invite Code
         </button>
       </div> 
       <div></div> 
       <div></div>
       <div class="row row-center">
          <div class="col-sm-18">
                  <div class="form-group">
                    <label for="nputDeviceId">Device Id/Serial No</label>
                    <input type="deviceId" class="form-control" id="deviceId" aria-describedby="Enter DeviceId" placeholder="Enter DeviceId" #deviceId>
                   </div> 
                  <button type="button" class="btn btn-primary" (click)="generateInviteCode(deviceId)">Generate</button>
          </div>
      </div>
  </header> 