<nav class="navbar navbar-light" style="background-color:#001a70;display: flex;flex-wrap: wrap;">

  <!-- logo -->
  <div class="navbar-brand" >
    <a class="navbar-item">
     <a href="https://www.fluidra.com/" target="_blank"> <img src="assets/img/logo1.png" alt="Fluidra" style="float:left;padding-top:20px;padding-left: 10px;" heigth=200 width=200 ></a>
    </a>
  </div>
    <div>
      <ul class="nav justify-content-end ">
        <li class="nav-item">
          <button type="button" (click)="logOut()" class="btn" style="color:#001a70;"><b>Log Out</b></button>
        </li>
      </ul>
      
  </div>

</nav><br> <br>
<h1 style="font-family:Arial, Helvetica, sans-serif;font-size:2em;text-align: center;color: #001a70;"><b>Generate Invite Code Tool</b></h1>
<div class="container"> 
       <div class="row row-center">
          <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputDeviceId"><b>Device Serial #</b></label>
                    <input type="text" class="form-control" id="deviceId" aria-describedby="Enter DeviceId" placeholder="Enter Device Serial Number"  maxLength=18  #deviceId required> 
    
                   </div> 
                  <button type="button" class="btn btn-primary" (click)="generateInviteCode(deviceId,generateButton)" id="generateButton" #generateButton>Generate</button>&nbsp;&nbsp;
                  <button (click)="clear(deviceId,generateButton)" class="btn btn-secondary">Clear</button>&nbsp;&nbsp;<br><br>
                  <p style="color: red;">{{errorInputField}}</p><br>
                  <div style="float:left"> 
                   <h3>Invite Code </h3>
                  <h5>{{inviteCodeString}}</h5>
                </div>
                <div style="float:left;margin-left: 100px;"> 
                  <h3>QR Code</h3>
                  <img [src]="inviteCodeImage">   
                </div>
                <br>
                <!-- <a href="{{inviteCodeImage}}" target="_blank"> <h5>{{inviteCodeImage}}</h5> </a>-->
                  
          </div>
      </div>
</div>
      